<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExpensifyIt categories</title>
  <link rel="shortcut icon" type="text/css" href="/img/piggy-bank.png" />
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-8">

  <div class="max-w-5xl mx-auto">
    <h1 class="text-3xl font-semibold mb-8 text-center text-blue-600">Categories</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <section class="p-5 bg-white border border-gray-200 rounded-lg shadow-sm" id="category-container">
        <ul class="divide-y divide-gray-200">
          <% categories.forEach((category, i) => { %>
          <li class="py-2 category cursor-pointer hover:bg-gray-50" onclick="showSubcategories('<%= category._id %>')">
            <%= category.name %>
          </li>
          <% }); %>
        </ul>
      </section>

      <section class="p-5 bg-white border border-gray-200 rounded-lg shadow-sm" id="subCategory-container">
        <!-- Content for subCategory-container -->
      </section>
    </div>

    <form action="/categories/createCategory" method='POST' class="mt-8 bg-white p-5 rounded-lg shadow-sm">
      <input type="text" placeholder="New Category Name" name='categoryName'
        class="block border-2 border-gray-200 rounded px-4 py-2 mb-4 w-full focus:outline-none focus:border-blue-500">
      <input type="submit" value="Add Category"
        class="py-2 px-4 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600 w-full">
    </form>

    <form action="/categories/createSubCategory" method='POST' class="mt-8 bg-white p-5 rounded-lg shadow-sm">
      <input type="text" placeholder="New SubCategory Name" name='subCategoryName'
        class="block border-2 border-gray-200 rounded px-4 py-2 mb-4 w-full focus:outline-none focus:border-blue-500">

      <label for="categoryList" class="block text-sm font-medium text-gray-700 mb-2">Choose a category:</label>
      <select name="categories" id="categoryList"
        class="mb-4 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <% categories.forEach((el)=> { %>
        <option value="<%=el._id %>" class='categoryList'>
          <%=el.name %>
        </option>
        <% }) %>
      </select>

      <input type="submit" value="Add SubCategory"
        class="py-2 px-4 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600 w-full">
    </form>
  </div>

  <script src="/js/categories.js"></script>
</body>

</html>
